<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.T2Market.mapper.AttachMapper">
	<select id="getAttachList" resultType="kr.co.T2Market.domain.AttachImageVO">
	
		select * from product_image where product_no = #{prodcut_no}
	
	</select>

  </mapper>