<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace = "kr.co.T2Market.mapper.ProductMapper">
 
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							title name '%'||#{keyword}||'%'
						</when>					
						<when test="type=='C'.toString()">
							content code1 '%'||#{keyword}||'%'
						</when>	
						<when test="type=='W'.toString()">
							writer code2 '%'||#{keyword}||'%'
						</when>								
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getListPaging" resultType="kr.co.T2Market.domain.ProductVO">
		<![CDATA[
			select 
			    *
		    from 
		      (
			      select /*+INDEX_DESC(product pk_product) */
			        rownum rn, product_no, name, code1, code2, explain, regdate, active 
			      from 
			        product
			      where 
		 ]]>  
			      
			<include refid="criteria"></include>
			
		<![CDATA[	      
			      rownum <= #{pageNum} * #{amount}
			   )
			 where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
    
        <!-- 게시물 총 개숫 -->
    <select id="getTotal" resultType="int">
    
        select count(*) from product
        
        <if test="keyword != null">        
            <!-- Oracle -->
            where name like '%'||#{keyword}||'%'
            
        </if>
    
    </select>
 
  <select id="getList" resultType="kr.co.T2Market.domain.ProductVO">
  <![CDATA[
  select * from product
  ]]>
  </select>
  
  <insert id="insert">
  	insert into product (product_no, code1, code2, explain, name, discount, sell_price, real_price, total_output, total_sales, input, stock, regdate, updatedate, active)
  	values(#{product_no},#{code1},#{code2},#{explain},#{name},#{discount},#{sell_price},#{real_price},#{total_output},#{total_sales},#{input},#{stock},sysdate,sysdate,#{active})
  </insert>
  
  <select id="getPage" resultType="kr.co.T2Market.domain.ProductVO">
  	select product_no, name, explain, code1, code2 from product where product_no = #{product_no}
  </select>
  

  </mapper>